# aliases
alias ls='ls -G'
alias grep='grep --color=auto'
alias mkdir='mkdir -pv'
alias ll='ls -l'
alias la='ls -la'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'
alias top='top -u'
alias dbox='cd ~/Dropbox'
alias docs='cd ~/Documents'
alias down='cd ~/Downloads'
alias downloads='cd ~/Downloads'
alias msrc='cd ~/src'
alias mysrc='cd ~/src'
# http://superuser.com/a/434168/634628
alias listall='find . -type d | ls -lARG'
alias df='df -h'
alias du='du -h'
alias ec2='ssh -i ~/.ssh/driverdaniel67-key-pair.pem ec2-user@ec2-54-145-213-93.compute-1.amazonaws.com'
alias sudo='sudo -H'
